*.pyc
test/virtual_screening/vina/spark/analysis
test/virtual_screening/vina/spark/*.log
test/virtual_screening/vina/spark/config.ini
.idea
.idea/drugdesign.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
molecular_dynamics/gromacs/spark/__pycache__/

